
Comparee/Comparee.xcodeproj/project.xcworkspace/xcuserdata/andrejlogvinov.xcuserdatad/UserInterfaceState.xcuserstate

Comparee/Comparee/Managers/.DS_Store

Comparee/Comparee/.DS_Store

Comparee/.DS_Store
